<h2>Crew - {{crew}} </h2>
<h3> Members </h3>
<div ng-repeat="ref in refs | orderBy: 'name'">
  <a ui-sref="ref({id: ref._id})">{{ref.name}}</a>
  <span ng-if="ref.team">
    (<a ui-sref="team({id: ref.team._id})">{{ref.team.name}}</a>)
  </span>
</div>

<h3> Schedule </h3>
<div class="vertbox skinny">
  <div class="bigbox split lined" ng-repeat="game in games | orderBy: 'timeslot'">
    <div> {{$root.timeslots[game.timeslot]}} </div>
    <div><b><a ui-sref="game({id: game._id})">
      <span>
        Staffing
      </span>
    </a></b></div>
    <div> Pitch {{game.pitch + 1}} </div>
  </div>
</div>
