<h2> 
  {{ref.name}} 
  <span ng-if="ref.team">
    (<a ui-sref="team({id: ref.team._id})">{{ref.team.name}}</a>)
  </span>
</h2>

<h3>Ref Crews</h3>
<div ng-repeat="crew in ref.crews">
  <a ui-sref="crew({id: crew})">{{crew}}</a>
</div>
<!-- <p>{{ref.crews.join(', ')}}</p> -->

<h3> Schedule </h3>
<div class="vertbox skinny">
  <div class="bigbox split lined" ng-repeat="game in games | orderBy: 'timeslot'">
    <div> {{$root.timeslots[game.timeslot]}} </div>
    <div><b><a ui-sref="game({id: game._id})">
      <span ng-if="ref._id === game.head_referee._id">
        Head Reffing
      </span>
      <span ng-if="ref._id === game.snitch._id">
        Snitching
      </span>
      <span ng-if="ar($index)">
        Assistant Reffing
      </span>
      <span ng-if="playing($index)">
        vs {{vs($index)}}
      </span>
      <span ng-if="ref.team._id === game.staff._id">
        Staffing
      </span>
    </a></b></div>
    <div> Pitch {{game.pitch + 1}} </div>
  </div>
</div>