<h2> {{ref.name}} (<a ui-sref="team({id: ref.teams[0]._id})">{{ref.teams[0].name}}</a>)</h2>

<h3> Schedule </h3>

<div ng-repeat="game in games | orderBy: 'timeslot'">

<!--   <b> {{ref._id === game.head_referee._id ? 'HR' : 'AR'}} </b> - 
  {{game.team_a.rank}}. <a href="/team/{{game.team_a._id}}">{{game.team_a.name}}</a>
  vs 
  {{game.team_b.rank}}. <a href="/team/{{game.team_b._id}}">{{game.team_b.name}}</a> 
  on pitch {{game.pitch + 1}} at {{timeslots[game.timeslot]}}. -->
  <boxscore game="game"></boxscore>
</div>