@import 'media';

body {
    @include tablet {
        padding: 30px;
    }
}

// the goods
.game {
    border: 1px dashed black;
    padding: 10px;
    margin-top: 10px;
    // background-color: pink;
    @include tablet {
        width: 200px;
    }
    // height: 200px;

    .right {
        // padding-left: 5%;
        // justify-content: flex-end;
        text-align: right;
    }

    .top {
        // padding-bottom: 5px;
    }

    // new try
    .info {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid grey;
        padding-bottom: 5px;
    }

    table {
        // border: 1px dotted blue;
        width: 100%;
        margin-top: 5px;
    }
}


.flexbox {
    display: flex;
    flex-direction: column;
    align-content: space-around;

    @include tablet {
        flex-direction: row;
        align-items: center;
    }

    border: 1px solid black;
    
    flex-wrap: wrap;
    padding: 0 10px 10px 10px;
    justify-content: space-around;
    // align-items: center;
}

// the big schedule where each row is a timeslot
.vertbox {
    display: flex;
    flex-direction: column;

    .timeslot:not(:first-child) {
        margin-top: 15px;
    }
}